name: Build Helios Image
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - .github/**
      - .gitignore
      - compose.yml
      - devbox.json
      - devbox.lock
      - README.md
      - Makefile
      - .bumpversion.toml
      - CONTRIBUTING.md
      - CODE_OF_CONDUCT.md
      - screenshot.png
      - docs/**
      - mkdocs.yml
      - .idea/**

jobs:
  build:
    runs-on:
      - STANDARD-RUNNER
    strategy:
      matrix:
        distro:
          - image: debian:bookworm
            source: bookworm
          - image: ubuntu:jammy
            source: jammy
          - image: ubuntu:noble
            source: noble
          - image: rockylinux:9
            source: rocky-9
          - image: almalinux:9
            source: alma-9
    steps:
      - name: Clean Ref
        id: calculate_ref
        run: |
          ref=$(echo "${{ github.ref_name }}" | tr '/' '-')
          echo "ref=$ref" >> "$GITHUB_OUTPUT"

      - name: Clone Source Code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GIT_PASS }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        shell: bash
        env:
          IMAGE: junoinnovations/helios-vfx:${{ (github.ref_name == 'main' && 'unstable') || (github.ref_name == 'testing' && 'testing') || steps.calculate_ref.outputs.ref }}-${{ matrix.distro.source }}
        run: |
          echo "Building ${IMAGE}"
          docker build . --build-arg IMAGE=${{ matrix.distro.image }} --build-arg SRC=${{ matrix.distro.source }} -t ${IMAGE}

      - name: Push
        shell: bash
        if: ${{ github.ref_name == 'main' || startsWith(github.event.ref, 'refs/tags/v') || github.ref_name == 'testing' }}
        env:
          IMAGE: junoinnovations/helios-vfx:${{ (github.ref_name == 'main' && 'unstable') || (github.ref_name == 'testing' && 'testing') || steps.calculate_ref.outputs.ref }}-${{ matrix.distro.source }}
        run: |
          echo "Building ${IMAGE}"
          docker push ${IMAGE}

      - name: Clean Up
        shell: bash
        if: always()
        run: docker system prune -af
