name: Sync Helios forks
on:
  push: {}

jobs:
  sync-forks:
    if: github.repository == 'juno-fx/Helios'
    runs-on:
      - X64
    steps:
      - name: Checkout the repo
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Sync all Helios forks
        shell: bash
        env:
          # legacy, but we had some regression here.
          # That can get reviewed later on - for now GIT_PASS works.
          GH_TOKEN: ${{ secrets.GIT_PASS }}
          TARGET_ORG: juno-fx
          TARGET_REPOS: "helios-vfx helios-ai"
        run: |
          git config user.name 'github-actions'
          git config user.email 'github-actions@users.noreply.github.com'
          # We must ditch all the cred details the checkout action fills in
          # otherwise this conflicts with our basic auth passed in the remote and fails to push
          git config --local credential.helper ""
          git config --local --unset http.https://github.com/.extraheader || true
          short_sha=$(git rev-parse --short HEAD)
          for repo in $TARGET_REPOS; do
            echo "Syncing $repo"
            git remote remove ${repo} || true
            gh auth setup-git
            git remote add ${repo} https://github.com/${TARGET_ORG}/${repo}.git
            git push ${repo} HEAD:sync-${short_sha}
            gh pr create \
              --repo ${TARGET_ORG}/${repo} \
              --base main \
              --head sync-${short_sha} \
              --title "Sync with main - ${short_sha} - $(date -Is)" \
              --body "This PR syncs the latest changes from the main Helios repo, as of ${short_sha}." \
              --reviewer "juno-fx/desktop"
          done
